/* ROOT */
:root {
  /* colors */
  --color-black: #222222;
  --color-brand: #F06B30;
  --color-brand-hover: #E84700;
  --color-brand-hover-button: #FF8C46;
  /* font */
  --font-family: "Raleway";
  --font-size: 20px;
  --font-weight: 400;
  /* layout */
  --header-height: 80px;
  --footer-height: 88px;
}

/* global */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--color-black);
}

a {
  color: var(--color-brand);
}

h2,
h3,
p {
  margin: 0;
}

.logo {
  display: block;
}

.title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.text--bold {
  font-weight: 600;
}

/* layout */
.container{
  max-width: 1180px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}


.page-section--pd60 {
  padding: 60px 0;
}

.page-section--pd80 {
  padding: 80px 0;
}

.page-section--grey {
  background-color: #F4F4F4;
}

/* END layout */
/* ********************** */
/* ********************** */
/* ********************** */


/* button */
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 210px;
  height: 48px;
  padding: 0 42px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 40px;
  background-color: var(--color-brand);
  color: #fff;
  text-decoration: none;
  transition: all 0.25s ease;
}

.button:hover {
  background-color: var(--color-brand-hover-button);
}

/* END button */
/* ********************** */
/* ********************** */
/* ********************** */

/* header */
.page-header {
  border-bottom: 1px solid var(--color-brand);
}

.page-header__row {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 60px;
  font-size: 18px;
  font-weight: 600;
}

.page-header__menu a {
  color: var(--color-black);
  text-decoration: none;
  /* border-bottom: 1px solid transparent; */

  transition: all 0.3s ease;
}

.page-header__menu a:hover {
  color: var(--color-brand);
  /* border-bottom: 1px solid var(--color-brand); */
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

header {
  border-bottom: 3px solid #F06B30;
}

.header__nav {
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

/* END header */
/* ********************** */
/* ********************** */
/* ********************** */


/* slider */
.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__nav.swiper-pagination-bullets {
  --swiper-theme-color: var(--color-brand);
  --swiper-pagination-bullet-inactive-color: #EAEAEA;
  --swiper-pagination-bullet-inactive-opacity: 100%;
  --swiper-pagination-bullet-size: 16px;
  --swiper-pagination-bullet-horizontal-gap: 8px;

  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.slider-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 174px;
}

.slider-block__title {
  margin-bottom: 20px;
}

.slider-block__button {
  margin-top: 40px;
}

.slider-block__img {
  width: 480px;
  height: 480px;

  object-fit: cover;
}

/* about */
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 100px;

  background-image: url(../Image/icon_paws/9035065_paw_icon\ 3.png), url(../Image/icon_paws/9035065_paw_icon\ 1.png), url(../Image/icon_paws/9035065_paw_icon\ 2.png);
  background-repeat: no-repeat;
  background-position: top 40px right 440px , top 134px right, right 380px bottom;
}

.about__title {
  text-align: center;
  margin-bottom: 30px;
}

.about p {
  padding-bottom: 20px;
  line-height: 120%;
}

.about p:last-child {
  padding-bottom: 0;
}

/* about-project */
.about-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-project p {
  max-width: 946px;
  line-height: 120%;
  padding-top: 30px;
}

.about-project__quote {
  color: var(--color-brand);
  font-size: 30px;
  font-weight: 700;
}

/* project + card */
.card {
  width: 367px;
  height: 616px;
  padding: 24px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card__button {
  width: 270px;
}

.card__img {
  width: 320px;
  height: 320px;
  overflow: hidden;
}

.card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: all 0.3s ease;
}

.card__img img:hover {
  transform: scale(1.1);
}

.card__title {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;

  padding-bottom: 20px;
}

.card__title a {
  color: var(--color-black);
  font-size: 28px;
  font-weight: 600;
  line-height: 120%;
  text-decoration: none;

  padding-right: 20px;
  transition: all 0.3s ease;
}

.card__title a:hover {
  color: var(--color-brand-hover);

}

.card__rating {
  display: flex;
  align-items: center;
}

.card__text {
  font-size: 18px;
}

.card__content p {
  padding-bottom: 10px;
}

.card__content p:last-child {
  padding: 0;
}


/* card slider */
.project__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.project__pagination.swiper-pagination-bullets {
  --swiper-theme-color: var(--color-brand);
  --swiper-pagination-bullet-inactive-color: #D9D9D9;
  --swiper-pagination-bullet-inactive-opacity: 100%;
  --swiper-pagination-bullet-size: 16px;
  --swiper-pagination-bullet-horizontal-gap: 8px;

  display: flex;
  justify-content: center;
  margin-top: 60px;
}

/* footer */
.page-footer__top,
.page-footer__bottom {
  border-top: 1px solid var(--color-brand);
}

.page-footer__row {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 72px;
}

.page-footer__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  column-gap: 25px;
  font-size: 16px;

  padding-right: 282px;
}

.page-footer__menu a {
  color: var(--color-black);
  opacity: 75%;
  text-decoration: none;
  /* border-bottom: 1px solid transparent; */

  transition: all 0.3s ease;
}

.page-footer__menu a:hover {
  opacity: 100%;
  /* border-bottom: 1px solid var(--color-black); */
}

.page-footer__contact {
  display: flex;
  column-gap: 10px;
}

.page-footer__bottom {
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__text {
  color: #999;
  font-size: 14px;
}

/* contact */
.contact-img {
  opacity: 75%;
  display: block;

  transition: all 0.3s ease;
}

.contact-img:hover {
  opacity: 100%;
}
/* END footer */
/* ********************** */
/* ********************** */
/* ********************** */


/* Back to top */
/* стрелка наверх сбоку странички */
.back-to-top {
  position: fixed;
  bottom: 80px;
  right: 80px;
  display: none;
  cursor: pointer;
  opacity: 75%;
  z-index: 1000;

  transition: all 0.3s ease;
}
 
.back-to-top:hover {
  opacity: 100%;
}

/* NEWS */

.news__title{

  text-align: center;
  margin-top: 60px;
}

.news{

  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  margin-bottom: 60px;
  gap: 20px;
}

.news-block__title{
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.more{

  text-align: center;
  margin-top: 60px;
}

.news-block__text{
  position: relative;

  
}

.news-block__date{

  position: absolute;
  bottom: 0;
  left: 0;
}

.subscribe-block__text{
  padding-top: 5%;
  
}

.subscribe{

  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  margin-bottom: 60px;
  gap: 20px;

}

.email-block{

  display: flex;
  justify-content: space-between;
  
}

.email-input{

  border-radius: 40px;
  width: 67%;
  padding-left: 5%;
  font-size: var(--font-size);

}

/* END NEWS */
/* ********************** */
/* ********************** */
/* ********************** */